.listBoxClienteFicha,
.listBoxCliente,
.listBoxFuncionario,
.listBoxAparelho,
.listBoxExercicio {
  font-family: Arial, sans-serif;
  overflow-x: auto;
  margin: 20px;
  width: auto;
  max-height: 300px;
}

body {
  padding: 0;
}
