body {
  padding: 0;
}

/* Lista */

.listBoxCliente,
.listBoxFuncionario,
.listBoxClienteFicha {
  font-family: Arial, sans-serif;
  overflow-x: auto;
  margin: 20px;
  width: auto;
  max-height: 300px;
}
