#isAtendimento {
  color: white;
  text-align: center;
  text-shadow: -0.5px -0.5px 0 green, 0.5px -0.5px 0 green, -0.5px 0.5px 0 green,
    0.5px 0.5px 0 green;
}

body {
  background-blend-mode: multiply, multiply, normal, normal;
  background-color: #fff;
  background-image: linear-gradient(to top right, rgba(216, 216, 216, 0.54) 0, rgba(216, 216, 216, 0.54) 49.9%, transparent 50%), linear-gradient(to top left, rgba(228, 228, 228, 0.54) 0, rgba(228, 228, 228, 0.54) 49.9%, transparent 50%), linear-gradient(to bottom right, transparent 50%, transparent 100%), linear-gradient(21deg, #fff 0%, #fff 46%, #d1d1d1 90%);
  background-position: bottom left, bottom right, left top -1px, right bottom;
  /* background-repeat: no-repeat; */
  background-size: 74% 99.83%, 1% 91%, 103.8% 20.26%, 100% 99.8%;
  /* color: #fff; */
  margin: 0;
  padding-bottom: 11rem;
  /* padding-top: 6rem; */
  
}

.rating {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    font-size: 32px;
  }
  .rating input {
    display: none;
  }
  .rating label {
    cursor: pointer;
    padding: 0 10px;
  }
  /* Estilo para emojis não selecionados */
  .rating label {
    transition: transform 0.3s, border 0.3s; /* Adiciona transição suave */
  }
  /* Estilo para emojis selecionados */
  .rating input:checked + label {
    transform: scale(1.1); /* Aumenta o tamanho do emoji selecionado */
    border: 2px solid orange; /* Adiciona uma borda laranja ao emoji selecionado */
  }
  
  h2{
    text-align: center;
    padding-top: 15px;
  }

  .btn{
    padding: 150px;
  }

  .itemsMeta {
    background-color: rgba(255, 255, 255, 0.358);
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.201);
  }

  #itemsMeta {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .flex-container {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center;    /* Centraliza os elementos verticalmente */
  }
  