#isAtendimento {
  color: white;
  text-align: center;
  text-shadow: -0.5px -0.5px 0 green, 0.5px -0.5px 0 green, -0.5px 0.5px 0 green,
    0.5px 0.5px 0 green;
}

.rating {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    font-size: 32px;
  }
  .rating input {
    display: none;
  }
  .rating label {
    cursor: pointer;
    padding: 0 10px;
  }
  /* Estilo para emojis não selecionados */
  .rating label {
    transition: transform 0.3s, border 0.3s; /* Adiciona transição suave */
  }
  /* Estilo para emojis selecionados */
  .rating input:checked + label {
    transform: scale(1.1); /* Aumenta o tamanho do emoji selecionado */
    border: 2px solid orange; /* Adiciona uma borda laranja ao emoji selecionado */
  }
  
  h2{
    text-align: center;
    padding-top: 15px;
  }

  .btn{
    padding: 150px;
  }

  .itemsMeta {
    background-color: rgba(255, 255, 255, 0.358);
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.201);
  }

  #itemsMeta {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .flex-container {
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center;    /* Centraliza os elementos verticalmente */
  }
  